.likeButton {
    background-color: blue;
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.likeButton:hover {
    transform: scale(1.1);
}

.likeButton__heart {
    width: 43px;
    height: 43px;
    fill: white;
}

.likeButton__heart--liked {
    fill: red;
}